
   	     <%= form_tag({:controller => "pages", :action => "search"}, :method => "get", remote: true) do %>
  			 <%= label_tag(:url, "Enter a url, for e.g. 'www.pinterest.com'") %>
 			 <%= text_field_tag(:url) %>
 			 <%= label_tag(:selector, "Enter a selector, for e.g. 'img'") %>
 			 <%= text_field_tag(:selector) %>
 			 <%= submit_tag("Search") %>
		<% end %> 

<%
  require 'rubygems'
  require 'anemone'
  require 'nokogiri'
  require 'open-uri'
  
 
  url1 = @url
  
  if url1[0].downcase == 'w'
  	url1[0,0] = "http://"
  end
  
  puts url1
  
  #doc = Nokogiri::HTML(open(url1))
  
  select = @selector
  #content = doc.css(select)
  
  Anemone.crawl(url1) do |anemone|
   titles = ""
   anemone.on_every_page { |page| titles += page.doc.at(select).inner_html rescue nil }  
   
   end %>
  
 <div> <h3> Scraped content:</h3> <br>  <%= raw titles %> </div>
  
  
  