
   	     <%= form_tag({:controller => "pages", :action => "search"}, :method => "get", remote: true) do %>
  			 <%= label_tag(:url, "Enter a URL, for e.g. 'www.pinterest.com'") %>
 			 <%= text_field_tag(:url) %>
 			 <%= label_tag(:selector, "Enter a selector, for e.g. 'img'") %>
 			 <%= text_field_tag(:selector) %>
 			 <%= submit_tag("Search") %>
		<% end %> 

<%
  require 'rubygems'
  require 'anemone'
  require 'nokogiri'
  require 'open-uri'
  
  # adding comments
  url = @url
  
  if url[0].downcase == 'w'
  	url[0,0] = "http://"
  end
  
  
  doc = Nokogiri::HTML(open(@url))
  
  select = @selector
  content = doc.css(select)
  
  Anemone.crawl(url) do |anemone|
   @titles = []
   @titles2 = []
   
   #anemone.focus_crawl { |page| page.links.slice(0..5) }
   anemone.on_every_page do |page| 
    
    @titles.push page.doc.css(select) rescue nil
   	@titles2.push page.doc.at(select).inner_html rescue nil   
   
   end end
   
   @titles = @titles.uniq!
   @titles2 = @titles2.uniq!
    %>
  
 <div> <h4> Scraped content 1: <br>  <% @titles.each do |x| %> <%= raw x %> <% end %> </h4> </div>

 <div> <h4> Scraped content 1: <br>  <% @titles2.each do |y| %> <%= raw y %> <% end %> </h4> </div>
  
  
  