
   	     <%= form_tag({:controller => "pages", :action => "search"}, :method => "get", remote: true) do %>
  			 <%= label_tag(:url, "Enter a url, for e.g. 'www.pinterest.com'") %>
 			 <%= text_field_tag(:url) %>
 			 <%= label_tag(:selector, "Enter a selector, for e.g. 'img'") %>
 			 <%= text_field_tag(:selector) %>
 			 <%= submit_tag("Search") %>
		<% end %> 

<%
  require 'rubygems'
  require 'nokogiri'
  require 'open-uri'
  require 'anemone'
 
  url = @url
  
  if url[0].downcase == 'w'
  	url[0,0] = "http://"
  end
  
  #doc = Nokogiri::HTML(open(url))
  
  select = @selector
  #content = doc.css(select)
  
  Anemone.crawl("http://www.evening-dusk-2464.heroku.com") do |anemone|
 	@titles = []
  	anemone.on_every_page { |page| @titles.push page.doc.at(select).inner_html rescue nil }
  	anemone.after_crawl { @titles.compact.sort }
  end
  
  %>
  
 
  <div> <h3> Scraped content:</h3> <br> <% @titles.each do |x| %>  <%= x %> <% end %> </div>
  
  