<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section class="sect_prof">
        <%= render 'shared/user_info' %>
      </section>
	  <section class ="sect_stats">
	        <%= render 'shared/stats' %>
	  </section>
      <section class="sect_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>

</div>
<%= render 'shared/slider' %>


<div class="row">

  <aside class="span8">	
	      <!--<h3>Micropost Feed</h3> -->       
	             <%= render 'shared/feed' %>
  </aside>
   

</div>

<% else %>

  <div id="content-slider">
      <ul class="slider">
      <!--<li>  
            
            <img src="http://lorempixel.com/300/200/animals/1" alt="" />
            <img src="http://lorempixel.com/300/200/animals/2" alt="" />
            <img src="http://lorempixel.com/300/200/animals/3" alt="" />
            <img src="http://lorempixel.com/300/200/animals/4" alt="" />
            <img src="http://lorempixel.com/300/200/animals/5" alt="" />
            <img src="http://lorempixel.com/300/200/animals/6" alt="" />
            <img src="http://lorempixel.com/300/200/animals/7" alt="" />
            <img src="http://lorempixel.com/300/200/animals/8" alt="" />
            <img src="http://lorempixel.com/300/200/animals/9" alt="" />

    </li>-->
      <li><img src="http://lorempixel.com/940/630/animals" alt="" /> </li>
       <li><img src="http://lorempixel.com/940/630/sports" alt="" /> </li>
        <li><img src="http://lorempixel.com/940/630/nightlife" alt="" /> </li>
         <li><img src="http://lorempixel.com/940/630/nature" alt="" /> </li>
          <li><img src="http://lorempixel.com/940/630/people" alt="" /> </li>
          <li><img src="http://lorempixel.com/940/630/animals/2" alt="" /> </li>
       <li><img src="http://lorempixel.com/940/630/sports/2" alt="" /> </li>
        <li><img src="http://lorempixel.com/940/630/nightlife/2" alt="" /> </li>
         <li><img src="http://lorempixel.com/940/630/nature/2" alt="" /> </li>
          <li><img src="http://lorempixel.com/940/630/people/2" alt="" /> </li>
          <li><img src="http://lorempixel.com/940/630/animals/3" alt="" /> </li>
       <li><img src="http://lorempixel.com/940/630/sports/3" alt="" /> </li>
        <li><img src="http://lorempixel.com/940/630/nightlife/3" alt="" /> </li>
         <li><img src="http://lorempixel.com/940/630/nature/3" alt="" /> </li>
          <li><img src="http://lorempixel.com/940/630/people/3" alt="" /> </li>
            <li><img src="http://lorempixel.com/940/630/animals/4" alt="" /> </li>
       <li><img src="http://lorempixel.com/940/630/sports/4" alt="" /> </li>
        <li><img src="http://lorempixel.com/940/630/nightlife/4" alt="" /> </li>
         <li><img src="http://lorempixel.com/940/630/nature/4" alt="" /> </li>
          <li><img src="http://lorempixel.com/940/630/people/4" alt="" /> </li>
            <li><img src="http://lorempixel.com/940/630/animals/5" alt="" /> </li>
       <li><img src="http://lorempixel.com/940/630/sports/5" alt="" /> </li>
        <li><img src="http://lorempixel.com/940/630/nightlife/5" alt="" /> </li>
         <li><img src="http://lorempixel.com/940/630/nature/5" alt="" /> </li>
          <li><img src="http://lorempixel.com/940/630/people/5" alt="" /> </li>
            <li><img src="http://lorempixel.com/940/630/animals/6" alt="" /> </li>
       <li><img src="http://lorempixel.com/940/630/sports/6" alt="" /> </li>
        <li><img src="http://lorempixel.com/940/630/nightlife/6" alt="" /> </li>
         <li><img src="http://lorempixel.com/940/630/nature/6" alt="" /> </li>
          <li><img src="http://lorempixel.com/940/630/people/6" alt="" /> </li>

           <li><img src="http://lorempixel.com/940/630/animals/7" alt="" /> </li>
       <li><img src="http://lorempixel.com/940/630/sports/7" alt="" /> </li>
        <li><img src="http://lorempixel.com/940/630/nightlife/7" alt="" /> </li>
         <li><img src="http://lorempixel.com/940/630/nature/7" alt="" /> </li>
          <li><img src="http://lorempixel.com/940/630/people/7" alt="" /> </li>

           <li><img src="http://lorempixel.com/940/630/animals/8" alt="" /> </li>
       <li><img src="http://lorempixel.com/940/630/sports/8" alt="" /> </li>
        <li><img src="http://lorempixel.com/940/630/nightlife/8" alt="" /> </li>
         <li><img src="http://lorempixel.com/940/630/nature/8" alt="" /> </li>
          <li><img src="http://lorempixel.com/940/630/people/8" alt="" /> </li>

           <li><img src="http://lorempixel.com/940/630/animals/9" alt="" /> </li>
       <li><img src="http://lorempixel.com/940/630/sports/9" alt="" /> </li>
        <li><img src="http://lorempixel.com/940/630/nightlife/9" alt="" /> </li>
  
          <li><img src="http://lorempixel.com/940/630/people/9" alt="" /> </li>

    </ul>
  </div>

  <%= render 'shared/slider' %>
 
<% end %>