<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
	  <section>
	        <%= render 'shared/stats' %>
	  </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>

	<div class="span8">
	      <h3>Micropost Feed</h3>
	      <%= render 'shared/feed' %>
	</div>
  </div>  

<% else %>
  <div class="center hero-unit">
    <h1> My little scraping tool: 
    
    	<br>
   		 <%= form_tag({:controller => "pages", :action => "search"}, :method => "get") do %>
  			 <%= label_tag(:url, "Enter a url, for e.g. 'http://www.yahoo.com'") %>
 			 <%= text_field_tag(:url) %>
 			 <%= label_tag(:selector, "Enter a selector, for e.g. 'img'") %>
 			 <%= text_field_tag(:selector) %>
 			 <%= submit_tag("Search") %>
		<% end %> 
    
    </h1>

    
  </div>

  <!-- <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %> -->
  
  <div class="center hero-unit">
  
  <h2>
      Or check out Alex's awesome
      <a><%= link_to "Twitter-like", signup_path %></a>
       application.
  </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>  
    
   </div> 
<% end %>